@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-menu">
    <div class="image"><img src="img/banner/banner-contact.jpg" alt="" /></div>
    <div class="headline-1">
        <h4>BẠN CÓ THẮC MẮC KHÔNG?</h4>
        <p><img src="img/product/separator.png" alt="" /></p>
        <h2>Liên hệ ngay</h2>
    </div>
</div>
<div class="contact-table">
    <div class="contact-group">
        <div class="info-contact">
            <div class="text-contact">
                <h3>Message us</h3>
                <p>
                    Bạn có thắc mắc về dịch vụ của chúng tôi? Chúng tôi ở đây để giúp đỡ, hãy liên hệ với chúng tôi ngay hôm nay
                </p>
            </div>
            <div class="input-value">
                <input id="name" type="text" placeholder="Name" />
                <input id="email" type="text" placeholder="Email" />
                <input id="subject" type="text" placeholder="Subject" />
                <textarea id="message" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div id="submit-btn" class="btn2">SUBMIT</div>
            <div id="error-message"></div>
            <p class="mess">We have received your message. We will respond to you soon.</p>
        </div>
        <div class="image"><img src="img/about/banner-5.jpg" alt="" /></div>
    </div>
</div>
