<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RESTAURANT</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Global css -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- local css -->
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <link rel="stylesheet" href="css/menu.css" />
    <link rel="stylesheet" href="css/menu2.css" />
    <link rel="stylesheet" href="css/reservation.css" />


</head>

<body>
    <div class="scroll">
        <i class="fa-solid fa-angle-up"></i>
    </div>
    <nav class="navbar navbar-expand-lg fixed-top" id="1">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="#"><img src="img/logo/logo.png" alt="" /></a>
            <div class="collapse navbar-collapse d-flex justify-content-between align-items-center">
                <ul class="navbar-nav d-flex gap-3">
                    <li class="nav-item">
                        <a class="nav-link after" asp-controller="Home" asp-action="Index">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="GioiThieu" asp-action="Index">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="OrderFood">THỰC ĐƠN</a>
                        <div class="list-food">
                            <a class="menu-food" asp-action="Index" asp-controller="OrderFood">
                                <img src="img/menu/menu-food-1.jpg" alt="" />
                                <h3>Đặt món ăn</h3>
                            </a>
                            <a class="menu-food" asp-action="Index" asp-controller="PartyMenu">
                                <img src="img/menu/menu-food-2.jpg" alt="" />
                                <h3>Thực đơn tiệc</h3>
                            </a>
                            <a class="menu-food" asp-action="Index" asp-controller="Wine">
                                <img src="img/menu-wine/wine-banner.jpg" alt="" />
                                <h3>Rượu</h3>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Reservation" asp-action="Index">ĐẶT CHỖ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="LienHe" asp-action="Index">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
            <div class="right d-flex gap-4 align-items-center">
                <div class="phone">
                    <span><i class="fa-solid fa-phone"></i></span>+84 779238876
                </div>
                <a href="cart.html" class="cart"><i class="fa-solid fa-cart-shopping"></i> <span>0</span></a>
                <div class="user">
                    @if (ViewData["userRoles"]?.ToString() == "User")
                    {
                        <!-- Hiển thị khi người dùng có quyền User -->
                        <div class="dropdown">
                            <span class="text-login dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Xin chào, @ViewData["userName"]
                            </span>
                            <ul class="dropdown-menu bg-black" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item bg-black text-bold" asp-controller="Account" asp-action="Logout">Đăng xuất</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <!-- Hiển thị khi chưa đăng nhập hoặc không có quyền User -->
                        <span class="icon-login">
                            <i class="fa-solid fa-circle-user"></i>
                            <a asp-controller="Account" asp-action="Login">ĐĂNG NHẬP</a>
                        </span>
                    }
                </div>


                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-mobile">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-end" id="menu-mobile">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title"><img src="img/logo/logo.png" alt="" /></h1>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="user d-flex justify-content-center">
            <span>
                <a href="login-signup.html"><i class="fa-solid fa-user"></i></a>
            </span>
        </div>
        <p class="customer d-flex justify-content-center">Xin chào, @User.Identity.Name</p>
        <div class="offcanvas-body">
            <ul class="offcanvas-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="GioiThieu" asp-action="Index">GIỚI THIỆU</a>
                </li>
                <li class="nav-item nav-toggle">
                    <a class="nav-link nav-dow d-flex justify-content-between" href="#"><span class="name">MENU</span><span class="icon-dow"><i class="fa-solid fa-chevron-down"></i></span></a>
                    <div class="toggle-menu">
                        <ul>
                            <li class="nav-item"><a asp-action="Index" asp-controller="PartyMenu">Party Menu</a></li>
                            <li class="nav-item"><a asp-action="Index" asp-controller="OrderFood">Order Food</a></li>
                            <li class="nav-item pb-0"><a asp-action="Index" asp-controller="Wine">Wine</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item bottom">
                    <a class="nav-link" asp-controller="Reservation" asp-action="Index">ĐẶT CHỖ</a>
                </li>
                <li class="nav-item bottom">
                    <a class="nav-link" asp-controller="LienHe" asp-action="Index">LIÊN HỆ</a>
                </li>
            </ul>
            <div class="text-canvas text-center">
                <h3>Visit Us</h3>
                <p>
                    20 MỸ ĐÌNH, NAM TỪ LIÊM, HÀ NỘI <br /> Giờ mở cửa: 09:00 am - 01:00 pm <br /> booking@domainame.com
                </p>
                <p class="none"></p>
                <p class="bold">Booking request :</p>
                <h4>+84 779238876</h4>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="list-footer">
                        <ul class="start">
                            <li><a id="1" href="">TRANG CHỦ</a></li>
                            <li><a id="2" href="">GIỚI THIỆU</a></li>
                            <li><a id="3" href="">THỰC ĐƠN</a></li>
                            <li><a id="4" href="">ĐẶT CHỖ</a></li>
                            <li><a id="5" href="">LIÊN HỆ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="logo">
                            <img src="img/logo/logo.png" alt="" />
                        </div>
                        <div class="address">
                            <p>
                                20 MỸ ĐÌNH, NAM TỪ LIÊM, HÀ NỘI <br />
                                <span>booking@domainname.com</span> <br />
                                <span>Đặt chỗ : +84 - 779238876</span> <br /> Giờ mở cửa: 09:00 am - 01:00 pm
                            </p>
                        </div>
                        <ul class="turn d-flex justify-content-center">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <h3>Nhận thông báo & Ưu đãi</h3>
                        <p class="sub">Đăng ký theo dõi chúng tôi để được <span>25% Off.</span></p>
                        <div class="email">
                            <div class="input">
                                <input type="text" placeholder="Email" />
                            </div>
                            <div class="icon"><i class="fa-regular fa-envelope"></i></div>
                            <button class="btn2">ĐĂNG KÝ</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="list-footer">
                        <ul class="start">
                            <li><a href="">FACEBOOK</a></li>
                            <li><a href="">TWITTER</a></li>
                            <li><a href="">INSTAGRAM</a></li>
                            <li><a href="">YOUTUBE</a></li>
                            <li><a href="">GOOGLE MAP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="coppyright">
            © 2024 Restaurt. All Rights Reserved | Code by <span> <a href=""> HongQuan Developer</a></span>
        </p>
    </div>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- js bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- javascript -->
    <script src="jQuery-Plugin-For-Counting-Up-Numbers-While-Scrolling-numscroller/numscroller-1.0.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="js/home.js"></script>
    <script src="js/main.js"></script>
    <script src="js/about.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/menu2.js"></script>
    <script src="js/reservation.js"></script>
</body>
</html>