
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner" id="2">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators d-flex gap-2">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="image"><img src="img/banner/banner-1.jpg" alt="Los Angeles" class="d-block" style="width: 100%" /></div>
                <div class="carousel-caption">
                    <div class="headline-1">
                        <h4>Tuyệt vời & Ngon miệng</h4>
                        <p><img src="img/product/separator.png" alt="" /></p>
                    </div>
                    <h1>Tinh hoa ẩm thực <br /> gửi chọn đam mê</h1>
                    <a class="btn1">VIEW OUR MENU</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="image"><img src="img/banner/banner-2.jpg" alt="Chicago" class="d-block" style="width: 100%" /></div>
                <div class="carousel-caption">
                    <div class="headline-1">
                        <h4>Tuyệt vời & Ngon miệng</h4>
                        <p><img src="img/product/separator.png" alt="" /></p>
                    </div>
                    <h1>Hương vị ngọt ngào cảm hứng theo mùa</h1>
                    <a class="btn1">VIEW OUR MENU</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="image"><img src="img/banner/banner-3.jpg" alt="New York" class="d-block" style="width: 100%" /></div>
                <div class="carousel-caption">
                    <div class="headline-1">
                        <h4>Tuyệt vời & Ngon miệng</h4>
                        <p><img src="img/product/separator.png" alt="" /></p>
                    </div>
                    <h1>Hương vị là ký ức <br />món ăn là tình yêu</h1>
                    <a class="btn1">VIEW OUR MENU</a>
                </div>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev no-hover" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next no-hover" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<div class="offer">
    <div class="slide-left">
        <img src="img/slide/bg-1.png" alt="" />
    </div>
    <div class="slide-right">
        <img src="img/slide/bg-2.png" alt="" />
    </div>
    <div class="container">
        <div class="headline-1 text-center">
            <h4>Tinh Túy Ẩm Thực – Hoàn Hảo Từng Hương Vị</h4>
            <p class="after"><img src="img/product/separator.png" alt="" /></p>
        </div>
        <div class="content text-center">
            <h2>Chúng tôi cung cấp dịch vụ hàng đầu</h2>
            <p class="text">
                Mỗi chi tiết đều được chăm chút tỉ mỉ, từ hương vị đến trải nghiệm <br /> để kiến tạo nên những khoảnh khắc ẩm thực khó quên
            </p>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="item">
                    <p class="images"><img src="img/menu/menu-party.jpg" alt="" /></p>
                    <p class="after"><img src="img/slide/after.svg" alt="" /></p>
                    <div class="view">
                        <h5>Thực đơn tiệc</h5>
                        <div class="after-1"><a href="menu2.html">XEM MENU</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="item item-top">
                    <div class="images"><img src="img/menu/oder-food.jpg" alt="" /></div>
                    <p class="after"><img src="img/slide/after.svg" alt="" /></p>
                    <div class="view">
                        <h5>Đặt món ăn</h5>
                        <div class="after-1"><a href="menu.html">XEM MENU</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="item item-none">
                    <div class="images"><img src="img/menu-wine/vip-8.jpg" alt="" /></div>
                    <p class="after"><img src="img/slide/after.svg" alt="" /></p>
                    <div class="view">
                        <h5>Đồ Uống</h5>
                        <div class="after-1"><a href="menu2.html">XEM MENU</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="group">
    <div class="row">
        <div class="headline-1 text-center">
            <h4>HƯƠNG VỊ CHO HOÀNG GIA</h4>
            <p class="after"><img src="img/product/separator.png" alt="" /></p>
        </div>
    </div>
    <div class="content text-center">
        <h2>Ưu điểm nổi bật</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="item color small">
                    <div class="icon">
                        <img src="img/icon/icon-1.png" alt="" />
                    </div>
                    <div class="text">
                        <h5>Nguyên liệu an toàn và sạch</h5>
                        <p>Chất lượng tuyệt hảo với các nguyên liệu được lựa chọn kỹ lưỡng từ các nguồn đáng tin cậy.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="item small">
                    <div class="icon">
                        <img src="img/icon/icon-2.png" alt="" />
                    </div>
                    <div class="text">
                        <h5>Đầu bếp tài năng</h5>
                        <p>Đội ngũ đầu bếp chuyên nghiệp, giàu kinh nghiệm, luôn tạo ra những món ăn tinh tế và độc đáo.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="item color small">
                    <div class="icon">
                        <img src="img/icon/icon-3.png" alt="" />
                    </div>
                    <div class="text">
                        <h5>Phong cách phục vụ đẳng cấp</h5>
                        <p>ạo không gian ấm cúng và sang trọng, mang lại cảm giác thoải mái cho thực khách.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="item small">
                    <div class="icon">
                        <img src="img/icon/icon-4.png" alt="" />
                    </div>
                    <div class="text">
                        <h5>Món ăn đa dạng và đặc sắc</h5>
                        <p>Menu đa dạng với các món đặc sản phong phú từ nhiều nền văn hóa ẩm thực khác nhau.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Nav tabs -->
<div class="list">
    <div class="headline-1">
        <h4>LỰA CHỌN ĐẶC BIỆT</h4>
        <p><img src="img/product/separator.png" alt="" /></p>
        <div class="content text-center">
            <h2>Thực đơn ngon</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="box">
            <ul class="nav nav-tabs justify-content-center align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#home">BỮA SÁNG </a>
                </li>
                <li class="square"></li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu1">BỮA TRƯA </a>
                </li>
                <li class="square"></li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu2">BỮA TỐI </a>
                </li>
                <li class="square"></li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#menu3">ĐỒ UỐNG</a>
                </li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="home">
                <div class="row">
                    <div class="col-md-12 col-lg-6 before" id="item-1"></div>
                    <div class="col-md-12 col-lg-6 normal" id="item11"></div>
                </div>
            </div>
            <div class="tab-pane container fade" id="menu1">
                <div class="row">
                    <div class="col-md-12 col-lg-6 before" id="item-2"></div>
                    <div class="col-md-12 col-lg-6 normal" id="item12"></div>
                </div>
            </div>
            <div class="tab-pane container fade" id="menu2">
                <div class="row">
                    <div class="col-md-12 col-lg-6 before" id="item-3"></div>
                    <div class="col-md-12 col-lg-6 normal" id="item13"></div>
                </div>
            </div>
            <div class="tab-pane container fade" id="menu3">
                <div class="row">
                    <div class="col-md-12 col-lg-6 before" id="item-4"></div>
                    <div class="col-md-12 col-lg-6 normal" id="item14"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="slide-left">
        <img src="img/slide/bg-1.png" alt="" />
    </div>
    <div class="slide-right">
        <img src="img/slide/bg-2.png" alt="" />
    </div>
    <div class="text-time">
        <p>During winter daily from <span> 7:00 pm</span> to <span> 9:00 pm</span></p>
    </div>
    <a href="" class="btn1">VIEW ALL MENU</a>
</div>
<div class="team">
    <div class="slide">
        <img src="img/slide/bg-21.png" alt="" />
    </div>
    <div class="food-slide">
        <img src="img/slide/bg-9.png" alt="" />
    </div>
    <div class="headline-1">
        <h4>ĐỘI NGŨ ĐẦU BẾP</h4>
        <p><img src="img/product/separator.png" alt="" /></p>
        <div class="content r">
            <h2>Những đầu bếp giàu kinh nghiệm</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="box">
                    <div class="image">
                        <img src="img/product/team-1.jpg" alt="" />
                        <div class="title">
                            <ul class="d-flex">
                                <li>
                                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="name">
                        <h2>Eduardo Lindsley</h2>
                        <h5>Chef Cook</h5>
                        <p>Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been the industrys.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="box">
                    <div class="image">
                        <img src="img/product/team-2.jpg" alt="" />
                        <div class="title">
                            <ul class="d-flex">
                                <li>
                                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="name">
                        <h2>Jerry Robertson</h2>
                        <h5>MASTER CHEF</h5>
                        <p>Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been the industrys.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box out">
                    <div class="image">
                        <img src="img/product/team-3.jpg" alt="" />
                        <div class="title">
                            <ul class="d-flex">
                                <li>
                                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="name">
                        <h2>Lily Sopy</h2>
                        <h5>MASTER CHEF</h5>
                        <p>Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been the industrys.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video">
    <div class="group-video">
        <div class="headline-1">
            <h4>TRẢI NGHIỆM TUYỆT VỜI</h4>
            <p><img src="img/product/separator.png" alt="" /></p>
            <div class="content">
                <h2>Video giới thiệu nhà hàng</h2>
            </div>
        </div>
        <div class="icon">
            <div class="video-about">
                <div class="video-play">
                    <!-- Button to trigger the modal -->
                    <button type="button" id="openModal">
                        <i class="fas fa-play" aria-hidden="true"></i>
                    </button>
                    <!-- The modal -->
                    <div id="videoModal">
                        <span class="close">&times;</span>
                        <div class="modal-content">
                            <iframe src="https://www.youtube.com/embed/Ya1qN34l8LI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="turn d-flex justify-content-center">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="text">
            <h3>Nhà hàng hiện đại, chất lượng thượng hạng, thực đơn ngon khó cưỡng.</h3>
            <p>WILLIUM JOE - MASTER CHEF</p>
        </div>
        <div class="carpet">
            <img src="https://delici.windstripedesign.ro/images/background/pattern-10.svg" alt="" />
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 col-md-6 col-lg-2">
                    <div class="box-number d-flex align-items-center">
                        <div class="numscroller" data-delay="10" data-increment="7" data-min="0" data-max="150">0</div>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="describe">DAILY ORDER</div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-2">
                    <div class="box-number d-flex align-items-center">
                        <div class="numscroller" data-delay="10" data-increment="7" data-min="0" data-max="82">0</div>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="describe">SPECIAL DISHES</div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-2">
                    <div class="box-number d-flex align-items-center">
                        <div class="numscroller" data-delay="2" data-increment="3" data-min="0" data-max="50">0</div>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="describe">EXPERT CHEF</div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-2">
                    <div class="box-number d-flex align-items-center">
                        <div class="numscroller" data-delay="2" data-increment="3" data-min="0" data-max="20">0</div>
                        <div class="plus"><i class="fa-solid fa-plus"></i></div>
                        <div class="describe">AWARDS WON</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


